{# empty Twig template #}
{#nom bundle:nom dossir:vue#}

{% extends "EspritDemoBundle::layout.html.twig" %}
{%block auth %}
    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
    <a href="{{ path('fos_user_registration_register') }}">Authentification</a>
{%endblock %}
{%block body %} 
    <div class="main">
        	<div class="slider-wrapper">
                <div class="slider">
                    <ul class="items">
                        <li>
                            <img src="{{asset('images/slider-img1.jpg')}}" alt="" />
                        </li>
                        <li>
                            <img src="{{asset('images/slider-img2.jpg')}}" alt="" />
                        </li>
                        <li>
                            <img src="{{asset('images/slider-img3.jpg')}}" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{%endblock %}
 