{% extends "EspritDemoBundle::layout.html.twig" %}

{% block title %}
Liste des produits
{%endblock%}
{%block nav1 %}
                            <ul class="menu">
                                <li><a class="active"  href="{{ path('produit')}}">Produits</a></li>
                                    <li><a href="{{ path('prestataire')}}">Espace perso</a></li>
                                   
                            </ul>
                            
  {%endblock%}
{% block body -%}
<h1 style="margin-left:450px   ">Liste des produits</h1>

<table style="margin-left:350px " class="records_list">
        <thead>
            <tr>
                <th>Nomproduit</th>
                <th>Photo</th>
                <th>Coutproduit</th>
                <th>Coutsolde</th>
                <th>Descriptionproduit</th>
               <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': entity.id }) }}">{{ entity.nomproduit }}</a></td>
                <td>{{ entity.photo }}</td>
                <td>{{ entity.coutproduit }}</td>
                <td>{{ entity.coutsolde }}</td>
                <td>{{ entity.descriptionproduit }}</td>
              {#  <td>{{ entity.id }}</td>#}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('produit_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produit_new') }}">
                Ajouter un nouveau produit
            </a>
        </li>
    </ul>
    {% endblock %}
