{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Produit list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nomproduit</th>
                <th>Photo</th>
                <th>Coutproduit</th>
                <th>Coutsolde</th>
                <th>Descriptionproduit</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('produit_show', { 'id': entity.id }) }}">{{ entity.nomproduit }}</a></td>
                <td>{{ entity.photo }}</td>
                <td>{{ entity.coutproduit }}</td>
                <td>{{ entity.coutsolde }}</td>
                <td>{{ entity.descriptionproduit }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('produit_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produit_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
