{% extends "EspritDemoBundle::layout.html.twig" %}

{% block title %}
Liste des produits
{%endblock%}
{%block nav1 %}
                            <ul class="menu">
                                <li><a href="{{ path('Home_prestataire')}}">Acceuil</a></li>
                                <li><a class="active"  href="{{ path('produit')}}">Produits</a></li>
                                <li><a href="{{ path('prestataire_show', { 'id': "1" }) }}">Espace perso</a></li>
                                   
                            </ul>
                            
  {%endblock%}
{% block body -%}
<h2 style="margin-left:550px">Liste des produits</h2>

<table  cellspacing="0" >
        <thead>
            <tr>
                <th>Nomproduit</th>
                <th>Coutproduit</th>
                <th>Coutsolde</th>
                <th>Descriptionproduit</th>
               <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
      
            <tr  class="khaled">
                <td><a href="{{ path('produit_show', { 'id': entity.id }) }}">{{ entity.nomproduit }}</a></td>
                <td>{{ entity.coutproduit }}</td>
                <td>{{ entity.coutsolde }}</td>
                <td>{{ entity.descriptionproduit }}</td>
              {#  <td>{{ entity.id }}</td>#}
                <td>
                <ul>
                    <li>
                        <a href="{{ path('produit_show', { 'id': entity.id }) }}"><img src="{{asset('images/voir.png')}}" alt="" />details</a>
                    </li>
                    <li>
                        <a href="{{ path('produit_edit', { 'id': entity.id }) }}"><img src="{{asset('images/modifier.png')}}" alt="" />Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('produit_new') }}">
                Ajouter un nouveau produit
            </a>
           
        </li>
    </ul>
    {% endblock %}
