{% extends "EspritDemoBundle::layout.html.twig" %}

{% block title %}
{{entity.nomproduit}}
{%endblock%}
{%block nav1 %}
                            <ul class="menu">
                                <li><a href="{{ path('Home_prestataire')}}">Acceuil</a></li>
                                <li><a class="active"  href="{{ path('produit')}}">Produits</a></li>
                                <li><a href="{{ path('prestataire_show', { 'id': "1" }) }}">Espace perso</a></li>
                                   
                            </ul>
                            
  {%endblock%}

{% block body -%}
<h2 style="padding-left:280px ">Details de {{entity.nomproduit}}</h2>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nomproduit</th>
                <td>{{ entity.nomproduit }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td class="khaled"><img src="{{ entity.photo }}"/></td>
            </tr>
            <tr>
                <th>Coutproduit</th>
                <td>{{ entity.coutproduit }}</td>
            </tr>
            <tr>
                <th>Coutsolde</th>
                <td>{{ entity.coutsolde }}</td>
            </tr>
            <tr>
                <th>Descriptionproduit</th>
                <td>{{ entity.descriptionproduit }}</td>
            </tr>
           {# <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>#}
        </tbody>
    </table>

       
        <a href="{{ path('produit') }}">
           <img src="{{asset('images/voir.png')}}" alt="" />
        </a>
    
        <a href="{{ path('produit_edit', { 'id': entity.id }) }}">
            Edit
        </a>
   
    {{ form(delete_form) }}

{% endblock %}
