{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Client</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Adressmail</th>
                <td>{{ entity.adressmail }}</td>
            </tr>
            <tr>
                <th>Banir</th>
                <td>{{ entity.banir }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr>
            <tr>
                <th>Motdepasse</th>
                <td>{{ entity.motdepasse }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Numtel</th>
                <td>{{ entity.numtel }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('client') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('client_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
